.app.dark {
  --bg-color: black;
  --primary-color: white;
  --secondary-color: yellow;
  --inverted-bg-color: white;
  --inverted-primary-color: black;
  --inverted-secondary-color: brown;
  --sidebar-bg-color: #999;
}
