.app.light {
  --bg-color: #fff;
  --primary-color: black;
  --secondary-color: gray;
  --inverted-bg-color: black;
  --inverted-primary-color: white;
  --inverted-secondary-color: yellow;
  --sidebar-bg-color: #999;
}
